

body {
    padding-top: 70px; 
    text-align: center;
}
footer {
    margin: 50px 0;
}

.jerk {
	background: green;
	color: yellow;
	padding-top: .5em;
	padding-bottom:.5em;
	margin:1em;
}

.beef {
	background: yellow;
	color: black;
	padding-top: .5em;
	padding-bottom: .5em;
	margin:1em;
}

.shrimp {
	background: green;
	color: white;
	padding-top: .5em;
	padding-bottom: .5em;
	margin:1em;
}
